@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ededed;
  --foreground: #0a0a0a;
}

:root.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  .container {
    width: 100%;
    @media (width >= 40rem) {
      max-width: 40rem;
    }
    @media (width >= 48rem) {
      max-width: 48rem;
    }
    @media (width >= 64rem) {
      max-width: 64rem;
    }
    @media (width >= 80rem) {
      max-width: 80rem;
    }
    @media (width >= 96rem) {
      max-width: 96rem;
    }
  }

  .blog-content h1,
  .blog-content h2,
  .blog-content h3,
  .blog-content p,
  .blog-content ul,
  .blog-content ol,
  .blog-content li,
  .blog-content blockquote,
  .blog-content code,
  .blog-content pre {
    @apply text-gray-800 dark:text-gray-200;
  }

  .blog-content a {
    @apply text-blue-600 dark:text-blue-400;
  }

  .blog-content code {
    @apply bg-gray-100 dark:bg-gray-800 text-gray-900 dark:text-gray-100 px-1 rounded;
  }
}

